<section class="banner-container">
	<header class="banner-header visiond-20">
		<figure class="logo">
			<img src="./assets/images/gl-logo.png" alt="Geek label">
		</figure>
		<div class="powered">
			<p class="text">
				Powered by Spotify
			</p>
		</div>
	</header>
	<div class="banner-content visiond-20">
		<figure class="banner-image visiond-15 visiond-xsm-8 visiond-md-12 visiond-lg-8">
			<h1><img src="./assets/images/hero-img.png" alt="Music Search"></h1>
		</figure>
		<figure class="arrow-down-container">
			<a href="#" class="arrow-down"><img src="./assets/images/arrow-down.png" alt="Arrow Down"></a>
		</figure>
	</div>
</section>