// ========== Fonts ==========

@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

$primary-font-family: 'Raleway', Helvetica, sans-serif, arial;

$medium-font-size: 0.75rem;
$small-font-size: 0.55rem;

// ========== Breakpoint ==========
$n_xs: 20em; // extra small devices
$x-sm: 30em; // small devices 480px+
$n_sm: 35.5em; // small devices 536px+
$n_md: 48em; // medium size devices
$n_lg: 64em; // big size devices
$n_xl: 80em; // desktop

// ========== Colours ==========
// I use http://chir.ag/projects/name-that-color for color names
$mulberry: #C8437A; // main color
$tuna: #333441; // main background color
$martinique: #383A49; // light black color

//========== Image Url ==========
$image_path: '../images/';

// ======== breakpoints for Grid System =========

$gridBreakpoints: ("xs":20em,"xsm": 30em,"sm": 35.5em,"md": 48em,"lg": 64em,"xl": 80em);
$gridsize: 20;