//========== Fonts ==========

@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

//Principal Font
$primary-font-family: 'Raleway', helvetica, sans-serif, arial;

//Normally used Font Sizes
$medium-font-size: .75rem;
$small-font-size: .55rem;

//========== Breakpoint ==========

//extra small devices
$n_xs: 20em;
//small devices 480px+
$x-sm: 30em;
//small devices 536px+
$n_sm: 35.5em;
//medium size devices
$n_md: 48em;
//big size devices
$n_lg: 64em;
//desktop
$n_xl: 80em;

//========== Colours ==========
//http://chir.ag/projects/name-that-color for color names

//main color
$mulberry: #c8437a;
//main background color
$tuna: #333441;
//light black color
$martinique: #383a49;

//========== Image Url ==========

//image path
$image_path: '../images/';

//======== breakpoints for Grid System =========

//grid break points
$gridBreakpoints: ('xs': 20em, 'xsm': 30em, 'sm': 35.5em, 'md': 48em, 'lg': 64em, 'xl': 80em);
$gridsize: 20;